:root {
	--primary-text-color: #555555;
	--secondary-text-color: #303030;
	--tertiary-text-color: #ffffff;
	--quaternary-text-color: rgba(157, 164, 189, 0.6);
	--description-color: #9da4bd;
	--accent-color: #ff6c00;
	--primary-background-color: #ffffff;
	--secondary-background-color: #f7f7f7;
}

html {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding-left: 0;
}

section {
	margin: 0 auto;
	padding-top: 130px;
	padding-bottom: 130px;
}

address {
	font-style: normal;
}

/* Body */
body {
	max-width: 1600px;
	font-family: "Open Sans", sans-serif;
	color: var(--primary-text-color);
}

/* Main */

.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
	color: currentColor;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-padding {
	padding: 0;
}

img {
	display: block;
	max-height: 100%;
}

.pre-title {
	font-size: 11px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--secondary-text-color);
	display: flex;
	align-items: center;
	gap: 20px;
}

.soc__list::before,
.pre-title::before {
	content: '';
	width: 60px;
	height: 1px;
	background-color: currentColor;
}

.title {
	font-family: "Raleway", sans-serif;
	font-size: 42px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.05em;
	color: var(--secondary-text-color);
}

.description {
	font-size: 18px;
	line-height: 1.7;
	letter-spacing: 0.02em;
	color: var(--description-color);
}

/* Button type */

.btn {
	min-width: 160px;
	height: 40px;
	font-family: inherit;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	border-radius: 25px;
	border: 1px solid var(--accent-color);
	color: var(--tertiary-text-color);
	background-color: transparent;
	cursor: pointer;
	transition: color 300ms linear, background-color 300ms linear;
}

.btn:hover,
.btn:focus {
	background-color: var(--accent-color);
}

/* Header */

.header {
	position: absolute;
	width: 100%;
	padding: 32px 0;
}

.header .container {
	display: flex;
	align-items: center;
}

.header__nav {
	margin-left: 130px;
}

.header__list {
	display: flex;
}

.header__item+.header__item {
	margin-left: 30px;
}

.header__wrap {
	margin-left: auto;
}

.header__link,
.header__tel {
	font-size: 12px;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: 0.1em;
	color: var(--tertiary-text-color);
	transition: color 300ms linear;
}

.header__link:hover,
.header__link:focus {
	color: var(--accent-color);
}

.header__btn {
	margin-left: 43px;
}

/* Hero section */

.hero .container {
	display: flex;
}

.hero__wrapper {
	width: 100px;
	display: flex;
	align-items: flex-end;
	padding-left: 27px;
	padding-bottom: 40px;
}

.hero__soc {
	display: flex;
	transform: rotate(-90deg) translateY(100%);
	transform-origin: bottom left;
	align-items: center;
	gap: 40px;

}

.soc__link {
	font-size: 11px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0.2em;
	color: var(--secondary-text-color);
	transition: color 300ms linear;
}

.soc__link:hover,
.soc__link:focus {
	color: var(--accent-color);
}

.hero__content {
	padding: 272px 100px 206px;
	flex-grow: 1;
	background-color: var(--secondary-text-color);
	background-image: linear-gradient(rgba(25, 28, 38, 0.20), rgba(25, 28, 38, 0.20)), url(../images/hero-bg-img.jpg);
}

.hero__pre-title {
	margin-bottom: 20px;
	color: var(--quaternary-text-color);
}

.hero__title {
	margin-bottom: 20px;
	font-family: "Raleway", sans-serif;
	font-size: 72px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.05em;
	color: var(--tertiary-text-color);
}

.hero__description {
	max-width: 360px;
}

/* About section */

.about .container {
	display: flex;
	column-gap: 30px;
}

.about__list {
	display: flex;
	column-gap: 30px;
}

.about__content {
	max-width: 470px;
}

.about__pre-title {
	margin-bottom: 20px;
}

.about__title {
	margin-bottom: 20px;
}

.about__description {
	margin-bottom: 20px;
	color: var(--primary-text-color);
}

.about__text {
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 1.9;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}

.btn__about {
	color: var(--secondary-text-color);
}

.btn__about:hover,
.btn__about:focus {
	color: var(--tertiary-text-color);
	background-color: var(--accent-color);
}

/* Prices section */

.prices {
	background-color: #111319;
	background-image: url(../images/prices-bg-img.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.prices__pre-title {
	margin-bottom: 20px;
	color: var(--quaternary-text-color);
}

.prices__title {
	margin-bottom: 44px;
	color: var(--tertiary-text-color);
}

.prices__wrap {
	display: flex;
	justify-content: space-between;
}

.prices__list {
	padding: 30px 40px;
	width: calc(50% - 15px);
}

.prices__list:first-child {
	background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%);
}

.prices__list:last-child {
	background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.20) 100%);
}

.prices__item {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 12px;
}

.prices__item::after {
	content: '';
	width: 100px;
	height: 1px;
	background-color: rgba(157, 164, 189, 0.12);
	flex-grow: 1;
}

.prices__description:last-child {
	order: 1;
}

.prices__item:not(:last-child) {
	margin-bottom: 20px;
}

.prices__button {
	display: block;
	margin: 50px auto 0;
}

/* Benefits section */

.benefits {
	padding-top: 121px;
}

.benefits .container {
	display: flex;
}

.benefits__cards {
	width: calc(50% - 15px);
	display: flex;
	justify-content: center;
	margin-right: 30px;
}

.benefits__list {
	display: flex;
	width: 370px;
	flex-wrap: wrap;
}

.benefits__item {
	width: 170px;
	height: 133px;
	padding: 20px 24px;
	background-color: var(--secondary-background-color);
}

.benefits__item:nth-child(even) {
	margin-top: 30px;
}

.benefits__item:nth-child(odd) {
	margin-right: 30px;
}

.benefits__item-top {
	display: flex;
	justify-content: center;
}

.benefits__item span {
	font-size: 42px;
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 0.05em;
	text-align: center;
	color: var(--secondary-text-color);
	display: inline-block;
	margin-bottom: 6px;
}

.benefits__item sup {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0em;
	text-align: center;
	color: var(--accent-color);
	margin-top: 15px;
}

.benefits__content {
	max-width: 500px;
	padding-top: 9px;
}

.benefits__pre-title {
	margin-bottom: 20px;
}

.benefits__title {
	margin-bottom: 20px;
}

.benefits__text {
	font-size: 11px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0em;
	text-align: center;
	color: var(--secondary-text-color);
}

.benefits__description {
	color: var(--primary-text-color);
}

/* Barbers section */

.barbers {
	background-color: var(--secondary-background-color);
}

.barbers__pre-title {
	margin-bottom: 20px;
}

.barbers__title {
	margin-bottom: 44px;
}

.barbers__list {
	display: flex;
	gap: 30px;
}

.barbers__item {
	flex-basis: calc((100% - 60px) / 3);
}

.barbers-wrap {
	padding: 30px 5px 0;
	text-align: center;
}

.barbers__avatar {
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}

.barbers__text {
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}

.barbers__socials {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.socials__link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: var(--primary-background-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials__icon {
	fill: var(--secondary-text-color);
	transition: fill 300ms linear;
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
	fill: #FF6C00;
}

/* Gallery section */

.gallery__pre-title {
	margin-bottom: 44px;
}

.gallery__list {
	display: flex;
	gap: 30px;
}

/* Booking section */

.booking__title {
	color: var(--tertiary-text-color);
}

/* Contacts section */

.contact__wrap {
	margin: 0 auto;
	background-color: #191C26;
	;
	background-image: url(../images/contact-bg-img.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: calc(50% - 15px) 100%;
}

.contact__wrap .container {
	display: flex;
}

.booking {
	padding-bottom: 183px;
	width: calc(50% - 15px);
	margin-right: 30px;
}

.contacts {
	padding-bottom: 120px;
	width: calc(50% - 15px);
	padding-left: 100px;
}

.contacts__title {
	margin-bottom: 40px;
	color: var(--tertiary-text-color);
}

.contacts__address {
	margin-bottom: 70px;
	width: 270px;
}

.contacts__item {
	width: 230px;
}

.contacts__link {
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 1.7;
	letter-spacing: 0.02em;
	color: var(--description-color);
}

.contacts__icon {
	fill: currentColor;
	margin-right: 16px;
	flex-shrink: 0;
}

.contacts__item:first-child {
	font-weight: 700;
}

.contacts__item:not(:last-child) {
	margin-bottom: 20px;
}

.contacts__pre-title {
	margin-bottom: 20px;
	color: var(--tertiary-text-color);
}

.contacts__pre-title::before {
	background-color: rgba(157, 164, 189, 0.40);
}

/* Footer */

.footer {
	padding-top: 56px;
	padding-bottom: 56px;
}

.footer__soc {
	display: flex;
	align-items: center;
	gap: 40px;
	margin-left: auto;
}

.footer .container {
	display: flex;
	align-items: center;
}

.footer__copy {
	font-size: 11px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0.2em;
	color: var(--description-color);
}

.soc__item {
	display: flex;
}

/* --Modal-- */

.backdrop {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(25, 28, 38, 0.20);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
	transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
	position: absolute;
	width: 500px;
	min-height: 600px;
	background-color: var(--primary-background-color);
	box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.16), -2px 0px 4px 0px rgba(0, 0, 0, 0.08), -4px 0px 8px 0px rgba(0, 0, 0, 0.04);
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0);
}

.modal-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	border: 1px solid #909090;
	border-radius: 50%;
	background-color: transparent;
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.no-scroll {
	overflow: hidden;
}