$primary-text-color: #555555;
$secondary-text-color: #303030;
$tertiary-text-color: #ffffff;
$quaternary-text-color: rgba(157, 164, 189, 0.6);
$description-color: #9da4bd;
$accent-color: #ff6c00;
$primary-background-color: #ffffff;
$secondary-background-color: #f7f7f7;
$bg-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
