.about .container {
	@include tablet {
		display: flex;
		column-gap: 30px;
	}
}

.about__list {
	display: none;

	@include tablet {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	@include desktop {
		flex-direction: row;
	}
}

.about__content {
	max-width: 418px;
	@include tablet {
		max-width: 330px;
	}
	@include desktop {
		max-width: 470px;
	}
}

.about__pre-title {
	margin-bottom: 20px;
}

.about__title {
	// margin-left: auto;
	// margin-right: auto;
	font-size: 28px;
	margin-bottom: 20px;
	width: 306px;
	@include tablet {
		width: 100%;
		// margin-left: 0;
		// margin-right: 0;
	}
	@include desktop {
		font-size: 42px;
	}
}

.about__description {
	margin-bottom: 20px;
	color: $primary-text-color;
}

.about__text {
	margin-bottom: 40px;
	@include font(14px, null, 1.86);
	color: $primary-text-color;
	@include tablet {
		margin-bottom: 77px;
	}
	@include desktop {
		margin-bottom: 42px;
	}
}

.about__button {
	display: block;
	margin-left: auto;
	margin-right: auto;

	@include mobile {
		margin: 0;
	}
}
