.gallery__pre-title {
	margin-bottom: 71px;

	@include tablet {
		margin-bottom: 44px;
	}
}

.gallery__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.gallery__item {
	width: 100%;

	@include tablet {
		width: calc((100% - 30px) / 2);
	}

	@include desktop {
		width: calc((100% - 90px) / 4);
	}
}
