.header {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	padding: 40px 0;

	@include mobile {
		width: 480px;
	}

	@include tablet {
		width: 768px;
		padding: 32px 0;
	}

	@include desktop {
		width: 1200px;
	}

	& .container {
		display: flex;
		align-items: center;
	}

	&__icon .logo__icon--light {
		display: inline-block;

		@include tablet {
			display: none;
		}
	}

	&__icon .logo__icon--dark {
		display: none;

		@include tablet {
			display: inline-block;
		}
	}

	&__nav {
		display: none;

		@include tablet {
			display: flex;
			margin-left: 58px;
		}

		@include desktop {
			margin-left: 130px;
		}
	}

	&__list {
		display: flex;
		gap: 20px;

		@include desktop {
			gap: 30px;
		}
	}

	&__link {
		@include tablet {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	&__link,
	&__tel {
		@include font(12px, 600, $ls: 0.1em);
		color: $tertiary-text-color;
		transition: color 300ms linear;

		&:hover,
		&:focus {
			color: $accent-color;
		}
	}

	&__tel {
		padding-top: 10px;
		padding-bottom: 10px;

		@include desktop {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	&__wrap {
		display: none;
		@include tablet {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			margin-left: auto;
			gap: 20px;

			@include desktop {
				gap: 43px;
			}
		}

		@include desktop {
			flex-direction: row;
		}
	}
}
